# Backend API URL
# Update this to point to your backend APINEXT_PUBLIC_API_URL=https://cooksmart-api.onrender.com
#NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://eagyuxqtnfzlpgnfsowi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhZ3l1eHF0bmZ6bHBnbmZzb3dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA4OTM1NzksImV4cCI6MjA3NjQ2OTU3OX0.-aSZz04hW1htYgPb0YcO7UGft_R8zWC6hYyaXaoucZs